<!-- ============================================================== -->
<!-- Overview, Visits, Sales, Order -->
<!-- ============================================================== -->
<div class="row">
    <!-- column -->
    <div class="col-sm-12 col-lg-6">
        <app-campaign-overview></app-campaign-overview>
    </div>
    <!-- column -->
    <div class="col-sm-12 col-lg-6">
        <app-mix-stats></app-mix-stats>
    </div>
</div>
<!-- ============================================================== -->
<!-- Ravenue - page-view-bounce rate -->
<!-- ============================================================== -->
<app-rpb></app-rpb>
<!-- ============================================================== -->
<!-- Projects of the month -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Table -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-lg-12">
        <app-project></app-project>
    </div>
</div>
<!-- ============================================================== -->
<!-- Table -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Recent comment and chats -->
<!-- ============================================================== -->
<div class="row">
    <!-- column -->
    <div class="col-lg-6">
        <app-comment></app-comment>
    </div>
    <!-- column -->
    <div class="col-lg-6">
        <app-chat></app-chat>
    </div>
</div>
<!-- ============================================================== -->
<!-- Recent comment and chats -->
<!-- ============================================================== -->