<!-- ============================================================== -->
<!-- User Data, Visits -->
<!-- ============================================================== -->
<div class="row">
    <!-- column -->
    <div class="col-sm-12">
        <div class="card">
            <div class="row">
                <!-- column -->
                <div class="col-sm-12 col-md-4">
                    <div class="border-right">
                        <div class="d-flex p-40 border-bottom justify-content-center">
                            <div class="text-center">
                                <h1 class="m-b-0 display-3">36</h1>
                                <span>Active Users</span>
                            </div>
                        </div>
                        <div class="d-flex align-items-center p-20 border-bottom">
                            <div class="m-r-20">
                                <div data-label="45%" class="css-bar m-b-0 css-bar-primary css-bar-45">
                                    <i class="mdi mdi-desktop-mac"></i>
                                </div>
                            </div>
                            <div>
                                <h3 class="m-b-0">28</h3>
                                <span>Desktop</span>
                            </div>
                        </div>
                        <div class="d-flex align-items-center p-20 border-bottom">
                            <div class="m-r-20">
                                <div data-label="35%" class="css-bar m-b-0 css-bar-danger css-bar-25">
                                    <i class="mdi mdi-cellphone-iphone"></i>
                                </div>
                            </div>
                            <div>
                                <h3 class="m-b-0">06</h3>
                                <span>Mobile</span>
                            </div>
                        </div>
                        <div class="d-flex align-items-center p-20">
                            <div class="m-r-20">
                                <div data-label="20%" class="css-bar m-b-0 css-bar-success css-bar-35">
                                    <i class="mdi mdi-tablet-ipad"></i>
                                </div>
                            </div>
                            <div>
                                <h3 class="m-b-0">02</h3>
                                <span>Tab</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- column -->
                <div class="col-sm-12 col-md-8">
                    <div class="card-body">
                        <div class="d-md-flex align-items-center">
                            <div>
                                <h4 class="card-title">Realtime Data</h4>
                                <h5 class="card-subtitle">Analysis of Visits</h5>
                            </div>
                            <div class="ml-auto d-flex align-items-center">
                                <ul class="list-inline font-12 dl m-r-10">
                                    <li class="list-inline-item">
                                        <i class="far fa-circle text-info"></i> Active Visit</li>
                                    <li class="list-inline-item">
                                        <i class="far fa-circle text-muted"></i> Page View</li>
                                </ul>
                            </div>
                        </div>
                        <div class="m-t-30">
                            <div id="placeholder"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>