<div class="row">
    <!-- Column -->
    <div class="col-sm-12 col-lg-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Earnings</h4>
                <h5 class="card-subtitle">Total Earnings of the Month</h5>
                <h2 class="font-medium">$43,567.53</h2>
            </div>
            <div class="earningsbox m-t-5"></div>
        </div>
    </div>
    <!-- Column -->
    <div class="col-sm-12 col-lg-8">
        <div class="card">
            <div class="card-body border-bottom">
                <h4 class="card-title">Overview</h4>
                <h5 class="card-subtitle">Total Earnings of the Month</h5>
            </div>
            <div class="card-body">
                <div class="row m-t-10">
                    <!-- col -->
                    <div class="col-md-6 col-sm-12 col-lg-4">
                        <div class="d-flex align-items-center">
                            <div class="m-r-10">
                                <span class="text-orange display-5">
                                    <i class="mdi mdi-wallet"></i>
                                </span>
                            </div>
                            <div>
                                <span class="text-muted">Net Profit</span>
                                <h3 class="font-medium m-b-0">$3,567.53</h3>
                            </div>
                        </div>
                    </div>
                    <!-- col -->
                    <!-- col -->
                    <div class="col-md-6 col-sm-12 col-lg-4">
                        <div class="d-flex align-items-center">
                            <div class="m-r-10">
                                <span class="text-primary display-5">
                                    <i class="mdi mdi-basket"></i>
                                </span>
                            </div>
                            <div>
                                <span class="text-muted">Product sold</span>
                                <h3 class="font-medium m-b-0">5489</h3>
                            </div>
                        </div>
                    </div>
                    <!-- col -->
                    <!-- col -->
                    <div class="col-md-6 col-sm-12 col-lg-4">
                        <div class="d-flex align-items-center">
                            <div class="m-r-10">
                                <span class="display-5">
                                    <i class="mdi mdi-account-box"></i>
                                </span>
                            </div>
                            <div>
                                <span class="text-muted">New Customers</span>
                                <h3 class="font-medium m-b-0">$23,568.90</h3>
                            </div>
                        </div>
                    </div>
                    <!-- col -->
                </div>
            </div>
        </div>
    </div>
</div>