<div class="card">
    <div class="card-body">
        <h4 class="card-title">Top Activity Pages</h4>
        <h5 class="card-subtitle">Email Campaigns</h5>
        <div class="table-responsive">
            <table class="table v-middle">
                <thead>
                    <tr>
                        <th class="border-top-0">Active Pages</th>
                        <th class="text-center border-top-0">Status</th>
                        <th class="text-center border-top-0">Users</th>
                        <th class="text-center border-top-0">%</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="font-bold">
                            /templates/adminpro-angular-lite/
                        </td>
                        <td class="text-center">
                            <i class="fa fa-circle text-orange"></i>
                        </td>
                        <td class="text-center">14</td>
                        <td class="font-bold text-center">14.10%</td>
                    </tr>
                    <tr>
                        <td class="font-bold">
                            /panel/home.asp
                        </td>
                        <td class="text-center">
                            <i class="fa fa-circle text-success"></i>
                        </td>
                        <td class="text-center">09</td>
                        <td class="font-bold text-center">10.26%</td>
                    </tr>
                    <tr>
                        <td class="font-bold">
                            /FaceRecognition/monster-...l/minisidebar/p-ygda.html
                        </td>
                        <td class="text-center">
                            <i class="fa fa-circle text-success"></i>
                        </td>
                        <td class="text-center">07</td>
                        <td class="font-bold text-center">08.56%</td>
                    </tr>
                    <tr>
                        <td class="font-bold">
                            /demos/admin-templates/ma...ro/landingpage/index.html
                        </td>
                        <td class="text-center">
                            <i class="fa fa-circle text-success"></i>
                        </td>
                        <td class="text-center">04</td>
                        <td class="font-bold text-center">06.67%</td>
                    </tr>
                    <tr>
                        <td class="font-bold">
                            /panel/home.asp
                        </td>
                        <td class="text-center">
                            <i class="fa fa-circle text-orange"></i>
                        </td>
                        <td class="text-center">03</td>
                        <td class="font-bold text-center">05.85%</td>
                    </tr>
                    <tr>
                        <td class="font-bold">
                            /FaceRecognition/monster-...l/minisidebar/p-ygda.html
                        </td>
                        <td class="text-center">
                            <i class="fa fa-circle text-success"></i>
                        </td>
                        <td class="text-center">03</td>
                        <td class="font-bold text-center">05.85%</td>
                    </tr>
                    <tr>
                        <td class="font-bold">
                            /demos/admin-templates/ma...ro/landingpage/index.html
                        </td>
                        <td class="text-center">
                            <i class="fa fa-circle text-success"></i>
                        </td>
                        <td class="text-center">01</td>
                        <td class="font-bold text-center">03.45%</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>