<div class="card">
    <div class="card-body">
        <div class="d-md-flex align-items-center">
            <div>
                <h4 class="card-title">Sales Summary</h4>
                <h5 class="card-subtitle">Overview of Latest Month</h5>
            </div>
            <div class="ml-auto d-flex no-block align-items-center">
                <ul class="list-inline font-12 dl m-r-15 m-b-0">
                    <li class="list-inline-item text-cyan">
                        <i class="fa fa-circle"></i> Iphone</li>
                    <li class="list-inline-item text-primary">
                        <i class="fa fa-circle"></i> Ipad</li>
                </ul>
                <div class="dl">
                    <select class="custom-select">
                        <option value="0" selected>Monthly</option>
                        <option value="1">Daily</option>
                        <option value="2">Weekly</option>
                        <option value="3">Yearly</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- column -->
            <div class="col-lg-4">
                <h1 class="m-b-0 m-t-30">$6,890.68</h1>
                <h6 class="font-light text-muted">Current Month Earnings</h6>
                <h3 class="m-t-30 m-b-0">1,540</h3>
                <h6 class="font-light text-muted">Current Month Sales</h6>
                <a class="btn btn-info m-t-20 p-15 p-l-25 p-r-25 m-b-20" href="javascript:void(0)">Last Month Summary</a>
            </div>
            <!-- column -->
            <div class="col-lg-8">
                <div class="linearea linechart">
                    <x-chartist class="campaign ct-charts" [data]="lineChart.data" [type]="lineChart.type" [options]="lineChart.options" [responsiveOptions]="lineChart.responsiveOptions"
                        [events]="lineChart.events"> </x-chartist>
                </div>
            </div>
            <!-- column -->
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Info Box -->
    <!-- ============================================================== -->
    <div class="card-body border-top">
        <div class="row m-b-0">
            <!-- col -->
            <div class="col-lg-3 col-md-6">
                <div class="d-flex align-items-center">
                    <div class="m-r-10">
                        <span class="text-orange display-5">
                            <i class="mdi mdi-wallet"></i>
                        </span>
                    </div>
                    <div>
                        <span>Wallet Balance</span>
                        <h3 class="font-medium m-b-0">$3,567.53</h3>
                    </div>
                </div>
            </div>
            <!-- col -->
            <!-- col -->
            <div class="col-lg-3 col-md-6">
                <div class="d-flex align-items-center">
                    <div class="m-r-10">
                        <span class="text-cyan display-5">
                            <i class="mdi mdi-star-circle"></i>
                        </span>
                    </div>
                    <div>
                        <span>Referral Earnings</span>
                        <h3 class="font-medium m-b-0">$769.08</h3>
                    </div>
                </div>
            </div>
            <!-- col -->
            <!-- col -->
            <div class="col-lg-3 col-md-6">
                <div class="d-flex align-items-center">
                    <div class="m-r-10">
                        <span class="text-info display-5">
                            <i class="mdi mdi-shopping"></i>
                        </span>
                    </div>
                    <div>
                        <span>Estimate Sales</span>
                        <h3 class="font-medium m-b-0">5489</h3>
                    </div>
                </div>
            </div>
            <!-- col -->
            <!-- col -->
            <div class="col-lg-3 col-md-6">
                <div class="d-flex align-items-center">
                    <div class="m-r-10">
                        <span class="text-primary display-5">
                            <i class="mdi mdi-currency-usd"></i>
                        </span>
                    </div>
                    <div>
                        <span>Earnings</span>
                        <h3 class="font-medium m-b-0">$23,568.90</h3>
                    </div>
                </div>
            </div>
            <!-- col -->
        </div>
    </div>
</div>