<div class="auth-wrapper d-flex no-block justify-content-center align-items-center">
    <div class="auth-box">
        <div>
            <div class="logo">
                <span class="db"><img src="assets/images/logo-icon.png" alt="logo" /></span>
                <h5 class="font-medium m-b-20">Esqueceu sua senha?</h5>
                <p class="font-small m-b-20">Digite seu email para receber um email com um link para que você possa
                    definir uma nova senha</p>
            </div>
            <!-- Form -->
            <div class="row">
                <div class="col-12">
                    <form class="form-horizontal m-t-20" (ngSubmit)="formSubmit()" id="forgotPasswordForm"
                        [formGroup]="forgetPasswordForm">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="forget-password-email-input"><i
                                        class="material-icons-outlined">email</i></span>
                            </div>
                            <input type="text" formControlName="email" class="form-control form-control-lg"
                                placeholder="Insira seu email" aria-label="Email" [ngClass]="{'is-invalid': forgetPasswordForm.get('email').invalid  && (forgetPasswordForm.get('email').dirty || 
                                forgetPasswordForm.get('email').touched)}"
                                aria-describedby="forget-password-email-input">
                            <div class="invalid-feedback" *ngFor="let validation of getMessagesError('email')">
                                <span *ngIf="forgetPasswordForm.get('email').hasError(validation.type) && (forgetPasswordForm.get('email').dirty || 
                                forgetPasswordForm.get('email').touched)">{{validation.message}}</span>
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <div class="col-xs-12 p-b-20">
                                <button class="btn btn-block btn-lg btn-info" type="submit">
                                    <span *ngIf="!forgetPasswordForm.disabled">Enviar</span>
                                    <ngx-spinner bdColor="transparent" size="default" color="#fff" type="ball-beat"
                                        [fullScreen]="false">
                                    </ngx-spinner>
                                </button>
                            </div>
                        </div>
                        <div class="form-group text-center"> 
                            <div class="invalid-feedback--request invalid-feedback" *ngFor="let error of forgetPasswordErrors">
                                <span>{{error.message || error}}</span>
                            </div>
                        </div>
                    </form>
                    <swal #successAlert title="Sucesso!"
                        text="Um email foi enviado para sua caixa de entrada com as instruções de como recuperar sua senha"
                        type="success" [focusCancel]="true" confirmButtonColor="#39afdb" >
                    </swal>
                </div>
            </div>
        </div>
    </div>
</div>