<div class="card">
    <div class="card-body">
        <!-- title -->
        <div class="d-md-flex align-items-center">
            <div>
                <h4 class="card-title">Products of the Month</h4>
                <h5 class="card-subtitle">Overview of Latest Month</h5>
            </div>
            <div class="ml-auto d-flex align-items-center">
                <div class="dl">
                    <select class="custom-select">
                        <option value="0" selected>March</option>
                        <option value="1">April</option>
                        <option value="2">May</option>
                        <option value="3">June</option>
                    </select>
                </div>
            </div>
        </div>
        <!-- title -->
        <div class="table-responsive m-t-10">
            <table class="table v-middle">
                <thead>
                    <tr>
                        <th class="border-top-0">Products</th>
                        <th class="border-top-0">Customers</th>
                        <th class="border-top-0">Status</th>
                        <th class="border-top-0">Invoice</th>
                        <th class="border-top-0">Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="d-flex align-items-center">
                                <div class="m-r-10">
                                    <img src="assets/images/product/chair.png" alt="user" class="circle" width="45" />
                                </div>
                                <div class="">
                                    <h5 class="m-b-0 font-16 font-medium">Orange Shoes</h5>
                                </div>
                            </div>
                        </td>
                        <td>Rotating Chair</td>
                        <td>
                            <i class="fa fa-circle text-orange" data-toggle="tooltip" data-placement="top" title="In Progress"></i>
                        </td>
                        <td>35</td>
                        <td class="font-medium">$96K</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="d-flex align-items-center">
                                <div class="m-r-10">
                                    <img src="assets/images/product/chair2.png" alt="user" class="circle" width="45" />
                                </div>
                                <div class="">
                                    <h5 class="m-b-0 font-16 font-medium">Red Sandle</h5>
                                </div>
                            </div>
                        </td>
                        <td>Dummy Product</td>
                        <td>
                            <i class="fa fa-circle text-success" data-toggle="tooltip" data-placement="top" title="Active"></i>
                        </td>
                        <td>35</td>
                        <td class="font-medium">$96K</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="d-flex align-items-center">
                                <div class="m-r-10">
                                    <img src="assets/images/product/chair3.png" alt="user" class="circle" width="45" />
                                </div>
                                <div class="">
                                    <h5 class="m-b-0 font-16 font-medium">Gourgeous Purse</h5>
                                </div>
                            </div>
                        </td>
                        <td>Comfortable Chair</td>
                        <td>
                            <i class="fa fa-circle text-success" data-toggle="tooltip" data-placement="top" title="Active"></i>
                        </td>
                        <td>35</td>
                        <td class="font-medium">$96K</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="d-flex align-items-center">
                                <div class="m-r-10">
                                    <img src="assets/images/product/chair4.png" alt="user" class="circle" width="45" />
                                </div>
                                <div class="">
                                    <h5 class="m-b-0 font-16 font-medium">Puma T-shirt</h5>
                                </div>
                            </div>
                        </td>
                        <td>Wooden Chair</td>
                        <td>
                            <i class="fa fa-circle text-orange" data-toggle="tooltip" data-placement="top" title="In Progress"></i>
                        </td>
                        <td>35</td>
                        <td class="font-medium">$96K</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>