<!-- ============================================================== -->
<!-- Sales Summery -->
<!-- ============================================================== -->
<app-info-card></app-info-card>
<!-- ============================================================== -->
<!-- Sales Summery -->
<!-- ============================================================== -->
<app-realtime-visit></app-realtime-visit>
<!-- ============================================================== -->
<!-- Active user - project- visitors -->
<!-- ============================================================== -->
<app-active-visit></app-active-visit>
<!-- ============================================================== -->
<!-- Table -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-sm-12">
        <app-topsell></app-topsell>
    </div>
</div>
<!-- ============================================================== -->
<!-- Recent comment and chats -->
<!-- ============================================================== -->
<div class="row">
    <!-- column -->
    <div class="col-lg-6">
        <app-comment></app-comment>
    </div>
    <!-- column -->
    <div class="col-lg-6">
        <app-chat></app-chat>
    </div>
</div>
<!-- ============================================================== -->
<!-- Recent comment and chats -->
<!-- ============================================================== -->