<!-- ============================================================== -->
<!-- Earnings, Sale Locations -->
<!-- ============================================================== -->
<div class="row">
    <!-- column -->
    <div class="col-sm-12 col-md-5 col-lg-3">
        <app-earnings></app-earnings>
    </div>
    <!-- column -->
    <div class="col-sm-12 col-md-7 col-lg-9">
        <app-sale-location></app-sale-location>
    </div>
</div>
<!-- ============================================================== -->
<!-- Email Campaign -->
<!-- ============================================================== -->
<div class="row">
    <!-- column -->
    <div class="col-sm-12 col-lg-8">
        <app-email-compaign2></app-email-compaign2>
    </div>
    <!-- column -->
    <div class="col-sm-12 col-lg-4">
        <app-revenue-views></app-revenue-views>
    </div>
</div>
<!-- ============================================================== -->
<!-- Calendar, Poll -->
<!-- ============================================================== -->
<div class="row">
    <!-- column -->
    <div class="col-sm-12 col-lg-8">
        <app-month-schedule></app-month-schedule>
    </div>
    <!-- column -->
    <div class="col-sm-12 col-lg-4">
        <app-poll></app-poll>
    </div>
</div>