<div class="auth-wrapper d-flex no-block justify-content-center align-items-center">
    <div class="auth-box">
        <div>
            <div class="logo">
                <span class="db"><img src="assets/images/logo-icon.png" alt="logo" /></span>
                <h5 class="font-medium m-b-20">Alterar sua senha</h5>
                <p class="font-small m-b-20">Utilize os campos abaixos para definir uma nova senha para sua conta.</p>
            </div>
            <!-- Form -->
            <div class="row">
                <div class="col-12">
                    <form class="form-horizontal m-t-20" (ngSubmit)="formSubmit()" id="changePasswordForm"
                        [formGroup]="changePasswordForm">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="change-password-input"><i
                                        class="material-icons-outlined">vpn_key</i></span>
                            </div>
                            <input type="password" formControlName="password" class="form-control form-control-lg"
                                [ngClass]="{'is-invalid': changePasswordForm.get('password').invalid  && (changePasswordForm.get('password').dirty || 
                            changePasswordForm.get('password').touched)}" placeholder="Insira sua nova senha"
                                aria-label="Senha" aria-describedby="change-password-input"
                                autocomplete="current-password">
                            <div class="invalid-feedback" *ngFor="let validation of getMessagesError('password')">
                                <span *ngIf="changePasswordForm.get('password').hasError(validation.type) && (changePasswordForm.get('password').dirty || 
                                changePasswordForm.get('password').touched)">{{validation.message}}</span>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="change-confirmPassword-input"><i
                                        class="material-icons-outlined">phonelink_lock</i></span>
                            </div>
                            <input type="password" formControlName="confirmPassword"
                                class="form-control form-control-lg" [ngClass]="{'is-invalid': changePasswordForm.get('confirmPassword').invalid  && (changePasswordForm.get('confirmPassword').dirty || 
                            changePasswordForm.get('confirmPassword').touched)}" placeholder="Confirme sua nova senha"
                                aria-label="Senha" aria-describedby="change-confirmPassword-input"
                                autocomplete="current-password">
                            <div class="invalid-feedback"
                                *ngFor="let validation of getMessagesError('confirmPassword')">
                                <span *ngIf="changePasswordForm.get('confirmPassword').hasError(validation.type) && (changePasswordForm.get('confirmPassword').dirty || 
                                changePasswordForm.get('confirmPassword').touched)">{{validation.message}}</span>
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <div class="col-xs-12 p-b-20">
                                <button class="btn btn-block btn-lg btn-info" type="submit">
                                    <span *ngIf="!changePasswordForm.disabled">Alterar</span>
                                    <ngx-spinner bdColor="transparent" size="default" color="#fff" type="ball-beat"
                                        [fullScreen]="false">
                                    </ngx-spinner>
                                </button>
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <div class="invalid-feedback--request invalid-feedback"
                                *ngFor="let error of changePasswordErrors">
                                <span>{{error.message || error}}</span>
                            </div>
                        </div>
                    </form>
                    <swal #successAlert title="Senha alterada!"
                        text="Você já pode usar sua nova senha para acessar o sistema."
                        type="success" [focusCancel]="true" confirmButtonColor="#39afdb">
                    </swal>
                </div>
            </div>
        </div>
    </div>
</div>