<div class="card card-hover">
    <div class="card-body">
        <div class="d-md-flex align-items-center">
            <div>
                <h4 class="card-title">Email Campaigns</h4>
                <h5 class="card-subtitle">Overview of Email Campaigns</h5>
            </div>
            <div class="ml-auto align-items-center">
                <div class="dl">
                    <select class="custom-select">
                        <option value="0" selected>Monthly</option>
                        <option value="1">Daily</option>
                        <option value="2">Weekly</option>
                        <option value="3">Yearly</option>
                    </select>
                </div>
            </div>
        </div>
        <!-- column -->
        <div class="row m-t-40">
            <!-- column -->
            <div class="col-lg-6">
                <div id="visitor" class="m-t-20"></div>
            </div>
            <!-- column -->
            <div class="col-lg-6">
                <h1 class="display-6 m-b-0 font-medium">45%</h1>
                <span>Open Ratio for Campaigns</span>
                <ul class="list-style-none">
                    <li class="m-t-20">
                        <i class="fas fa-circle m-r-5 text-cyan font-12"></i> Open Ratio
                        <span class="float-right">45%</span>
                    </li>
                    <li class="m-t-20">
                        <i class="fas fa-circle m-r-5 text-info font-12"></i> Clicked Ratio
                        <span class="float-right">14%</span>
                    </li>
                    <li class="m-t-20">
                        <i class="fas fa-circle m-r-5 text-orange font-12"></i> Un-Open Ratio
                        <span class="float-right">25%</span>
                    </li>
                    <li class="m-t-20">
                        <i class="fas fa-circle m-r-5 text-primary font-12"></i> Bounced Ratio
                        <span class="float-right">17%</span>
                    </li>
                </ul>
            </div>
        </div>
        <!-- column -->
    </div>
</div>