<div class="card social-widget">
    <div class="card-body bg-info">
        <div class="d-flex align-items-center  text-white">
            <div>
                <h4 class=" m-b-0">People you may know</h4>
            </div>
            <div class="ml-auto">
                <a href="javascript: void(0)">
                    <i class="mdi mdi-menu text-white font-20"></i>
                </a>
            </div>
        </div>
        <form class="m-t-30 m-b-20">
            <div class="input-group input-group-lg mb-3 ">
                <input type="text" class="form-control" placeholder="Search by Email" aria-label="">
                <div class="input-group-append">
                    <button class="btn btn-light" type="button">
                        <i class="ti-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="card-body">
        <div class="row m-t-10">
            <div class="col-4 text-center">
                <img src="assets/images/users/1.png" alt="" class="img-fluid user-img">
                <h6 class="font-12 m-t-5">Hanna Gover</h6>
                <button class="btn waves-effect waves-light btn-light btn-sm">Connect</button>
            </div>
            <div class="col-4 text-center">
                <img src="assets/images/users/2.png" alt="" class="img-fluid user-img">
                <h6 class="font-12 m-t-5">Kendra Silly</h6>
                <button class="btn waves-effect waves-light btn-light btn-sm">Connect</button>
            </div>
            <div class="col-4 text-center">
                <img src="assets/images/users/3.png" alt="" class="img-fluid user-img">
                <h6 class="font-12 m-t-5">Jack Sully</h6>
                <button class="btn waves-effect waves-light btn-light btn-sm">Connect</button>
            </div>
        </div>
        <button class="btn btn-lg btn-block btn-cyan text-white waves-effect waves-light m-t-40">Invite friends from Twitter
            <i class="fab fa-twitter m-l-10"></i>
        </button>
        <button class="btn btn-lg btn-block btn-facebook text-white waves-effect waves-light">Invite friends from Facebook
            <i class="fab fa-facebook-f m-l-10"></i>
        </button>
    </div>
</div>