<!-- ============================================================== -->
<!-- Temp - Earnings -->
<!-- ============================================================== -->
<app-weather-header></app-weather-header>
<!-- ============================================================== -->
<!-- Earnings -->
<!-- ============================================================== -->
<app-month-view></app-month-view>
<!-- ============================================================== -->
<!-- Devices - Income - Sales -->
<!-- ============================================================== -->
<app-device-sales></app-device-sales>
<!-- ============================================================== -->
<!-- Projects of the month -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Table -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-lg-12">
        <app-project></app-project>
    </div>
</div>