<!-- ============================================================== -->
<!-- User Data, Visits -->
<!-- ============================================================== -->
<app-realdata></app-realdata>
<!-- ============================================================== -->
<!-- Locations -->
<!-- ============================================================== -->
<app-top-locations></app-top-locations>
<!-- ============================================================== -->
<!-- Activity, Referrals -->
<!-- ============================================================== -->
<div class="row">
    <!-- column -->
    <div class="col-sm-12 col-lg-8">
        <app-activity-pages></app-activity-pages>
    </div>
    <!-- column -->
    <div class="col-sm-12 col-lg-4">
        <app-top-referrals></app-top-referrals>
    </div>
</div>
<!-- ============================================================== -->
<!-- Task, Feeds -->
<!-- ============================================================== -->
<div class="row">
    <!-- column -->
    <div class="col-sm-12 col-lg-6">
        <app-tasklist></app-tasklist>
    </div>
    <!-- column -->
    <div class="col-sm-12 col-lg-6">
        <app-feeds></app-feeds>
    </div>
</div>