<ngx-spinner [name]="initialSpinner" bdColor="transparent" size="medium" color="#39afdb" [fullScreen]="false"
    type="ball-scale-multiple">
    <p style="font-size: 20px; color: gray">Carregando...</p>
</ngx-spinner>
<notifier-container></notifier-container>
<!-- Row -->
<div *ngIf="manageAccountForm">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <hr class="m-t-0">
                <form class="form-horizontal striped-rows b-form" (ngSubmit)="formSubmit()"
                    [formGroup]="manageAccountForm" id="manageAccountForm">
                    <div class="card-body">
                        <h4 class="card-title">Informações Pessoais</h4>
                        <div class="form-group row">
                            <div class="col-sm-3">
                                <div class="b-label">
                                    <label for="nome" class="control-label col-form-label">Nome</label>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="nome" placeholder="Nome"
                                    formControlName="nome" [ngClass]="{'is-invalid': manageAccountForm.get('nome').invalid  && (manageAccountForm.get('nome').dirty || 
                                    manageAccountForm.get('nome').touched)}">
                                <div class="invalid-feedback" *ngFor="let validation of getMessagesError('nome')">
                                    <span *ngIf="manageAccountForm.get('nome').hasError(validation.type) && (manageAccountForm.get('nome').dirty || 
                                    manageAccountForm.get('nome').touched)">{{validation.message}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-3">
                                <div class="b-label">
                                    <label for="sobrenome" class="control-label col-form-label">Sobrenome</label>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="sobrenome" placeholder="Sobrenome"
                                    formControlName="sobrenome" [ngClass]="{'is-invalid': manageAccountForm.get('sobrenome').invalid  && (manageAccountForm.get('sobrenome').dirty || 
                                    manageAccountForm.get('sobrenome').touched)}">
                                <div class="invalid-feedback" *ngFor="let validation of getMessagesError('sobrenome')">
                                    <span *ngIf="manageAccountForm.get('sobrenome').hasError(validation.type) && (manageAccountForm.get('sobrenome').dirty || 
                                            manageAccountForm.get('sobrenome').touched)">{{validation.message}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-3">
                                <div class="b-label">
                                    <label for="email" class="control-label col-form-label">Email</label>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <input type="email" class="form-control" id="email" placeholder="Email"
                                    formControlName="email">
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="card-body">
                        <h4 class="card-title">Endereço</h4>
                        <div class="form-group row">
                            <div class="col-sm-3">
                                <div class="b-label">
                                    <label for="CEP" class="control-label col-form-label">CEP</label>
                                </div>
                            </div>
                            <div class="col-sm-auto">
                                <input type="text" class="form-control" id="CEP" placeholder="CEP" formControlName="cep"
                                    [textMask]="{mask: cepMask, guide: false}" [ngClass]="{'is-invalid': manageAccountForm.get('cep').invalid  && (manageAccountForm.get('cep').dirty || 
                                    manageAccountForm.get('cep').touched)}">
                                <div class="invalid-feedback" *ngFor="let validation of getMessagesError('cep')">
                                    <span
                                        *ngIf="manageAccountForm.get('cep').hasError(validation.type) && (manageAccountForm.get('cep').dirty || 
                                                    manageAccountForm.get('cep').touched)">{{validation.message}}</span>
                                </div>
                            </div>
                            <div class="col-sm-auto">
                                <button type="button" [disabled]="manageAccountForm.get('cep').invalid || manageAccountForm.disabled"
                                    (click)="getAddressData()" class="btn btn-dark waves-effect waves-light">
                                    <span *ngIf="!isCepSpinnerShow">Buscar</span>
                                    <ngx-spinner [name]="cepSpinner" bdColor="transparent" size="default" color="#fff"
                                        type="ball-beat" [fullScreen]="false">
                                    </ngx-spinner>
                                </button>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-3">
                                <div class="b-label">
                                    <label for="endereco" class="control-label col-form-label">Endereço</label>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" formControlName="endereco" id="endereco"
                                    placeholder="Endereço">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-3">
                                <div class="b-label">
                                    <label for="numero" class="control-label col-form-label">Número</label>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" formControlName="numero" id="numero"
                                    placeholder="Número"  [ngClass]="{'is-invalid': manageAccountForm.get('numero').invalid  && (manageAccountForm.get('numero').dirty || 
                                    manageAccountForm.get('numero').touched)}">
                                <div class="invalid-feedback" *ngFor="let validation of getMessagesError('numero')">
                                    <span
                                        *ngIf="manageAccountForm.get('numero').hasError(validation.type) && (manageAccountForm.get('numero').dirty || 
                                                            manageAccountForm.get('numero').touched)">{{validation.message}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-3">
                                <div class="b-label">
                                    <label for="complemento" class="control-label col-form-label">Complemento</label>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" formControlName="complemento" id="complemento"
                                    placeholder="Complemento">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-3">
                                <div class="b-label">
                                    <label for="bairro" class="control-label col-form-label">Bairro</label>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" formControlName="bairro" id="bairro"
                                    placeholder="Bairro">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-3">
                                <div class="b-label">
                                    <label for="cidade" class="control-label col-form-label">Cidade</label>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="cidade" formControlName="cidade"
                                    placeholder="Cidade">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-3">
                                <div class="b-label">
                                    <label for="estado" class="control-label col-form-label">Estado</label>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="estado" formControlName="estado"
                                    placeholder="Estado">
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="card-body">
                        <div class="form-group m-b-0 text-right">
                            <button type="submit" class="btn btn-info waves-effect waves-light">
                                <span *ngIf="!manageAccountForm.disabled">Salvar</span>
                                <ngx-spinner [name]="saveSpinner" bdColor="transparent" size="default" color="#fff"
                                    type="ball-beat" [fullScreen]="false">
                                </ngx-spinner>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- End Row -->
<!-- Row -->
<!-- <div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Senha</h4>
                <h6 class="card-subtitle">Add
                    <code>.striped-rows</code> class in the form with bordered form styling.</h6>
            </div>
            <hr class="m-t-0">
            <form class="form-horizontal striped-rows b-form">
                <div class="card-body">
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <div class="b-label">
                                <label for="inputEmail3" class="control-label col-form-label">Full Name</label>
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="inputEmail3" placeholder="Full Name Here">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <div class="b-label">
                                <label for="inputEmail3" class="control-label col-form-label">Title</label>
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="inputEmail3" placeholder="Title Here">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <div class="b-label">
                                <label for="inputEmail3" class="control-label col-form-label">Company</label>
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="inputEmail3" placeholder="Company Name Here">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <div class="b-label">
                                <label for="inputEmail3" class="control-label col-form-label">Email</label>
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <input type="email" class="form-control" id="inputEmail3" placeholder="Email Here">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <div class="b-label">
                                <label for="inputEmail3" class="control-label col-form-label">Contact No</label>
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="inputEmail3" placeholder="Contact No Here">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <div class="b-label">
                                <label for="inputEmail3" class="control-label col-form-label">Existing Customer</label>
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <div class="custom-control custom-radio custom-control-inline m-t-5">
                                <input type="radio" class="custom-control-input" id="customControlValidation2"
                                    name="radio-stacked" required>
                                <label class="custom-control-label" for="customControlValidation2">Yes</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="customControlValidation3"
                                    name="radio-stacked" required>
                                <label class="custom-control-label" for="customControlValidation3">No</label>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="card-body">
                    <div class="form-group m-b-0 text-right">
                        <button type="submit" class="btn btn-info waves-effect waves-light">Save</button>
                        <button type="submit" class="btn btn-dark waves-effect waves-light">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div> -->
<!-- End Row -->