<div class="card product-widget">
    <div class="card-body">
        <h4 class="card-title">Products For Approval</h4>
        <h5 class="card-subtitle">Here is the list of products waiting for approval</h5>
        <div class="product d-flex align-items-center p-t-20 p-b-20 border-bottom">
            <img class="product-image m-r-20" alt="" src="assets/images/product/iphone.png">
            <div class="product-detail w-100">
                <h5 class="font-bold">Apple iphone6 plus</h5>
                <span class="font-15 text-muted">Submitted for approval on 5 April 2017</span>
                <div class="d-flex do-block align-items-center m-t-10">
                    <h4 class="font-20 font-bold text-info">$699.99</h4>
                    <div class="product-action ml-auto m-b-5 align-self-end">
                        <button class="btn btn-success">Approve</button>
                        <button class="btn btn-outline-secondary">Decline</button>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="product d-flex align-items-center p-t-20 p-b-20 border-bottom">
            <img class="product-image m-r-20" alt="" src="assets/images/product/iwatch.png">
            <div class="product-detail w-100">
                <h5 class="font-bold">New! Apple-iwatch Nike+ 42mm space gray</h5>
                <span class="font-15 text-muted">Approved on 1 April 2017</span>
                <div class="d-flex do-block align-items-center m-t-10">
                    <h4 class="font-20 font-bold text-info">$250.00</h4>
                    <div class="product-action ml-auto m-b-5 align-self-end">
                        <button class="btn btn-outline-secondary"><i class="mdi mdi-check text-success m-r-10 font-14"></i>Approved</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="product d-flex align-items-center p-t-20">
            <img class="product-image m-r-20" alt="" src="assets/images/product/ipad.png">
            <div class="product-detail w-100">
                <h4 class="font-bold">New! Apple-ipad silver black 128gb</h4>
                <span class="font-15 text-muted">Declined on 1 April 2017</span>
                <div class="d-flex do-block align-items-center m-t-10">
                    <h4 class="font-20 font-bold text-info">$329.78</h4>
                    <div class="product-action ml-auto m-b-5 align-self-end">
                        <button class="btn btn-outline-secondary"><i class="mdi mdi-close text-danger m-r-10 font-14"></i>Declined</button>
                    </div>
                </div>
            </div>  
        </div>
    </div>
</div>