<!-- ============================================================== -->
<!-- Overview of the month -->
<!-- ============================================================== -->
<app-month-overview></app-month-overview>
<!-- ============================================================== -->
<!-- Conversation and active users -->
<!-- ============================================================== -->
<app-conversion-earnings></app-conversion-earnings>
<!-- ============================================================== -->
<!-- table and weather -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-sm-12 col-lg-8">
        <app-project2></app-project2>
    </div>
    <div class="col-sm-12 col-lg-4">
        <app-weathercard></app-weathercard>
    </div>
</div>
<!-- ============================================================== -->
<!-- Personal profile and timeline-->
<!-- ============================================================== -->
<div class="row">
    <!-- Column -->
    <div class="col-sm-12 col-lg-4">
        <app-user-profile></app-user-profile>
        <!-- Card with image -->
        <div class="card">
            <img class="card-img-top" src="assets/images/big/img1.jpg" alt="card">
            <div class="card-body">
                <h4 class="card-title">Business development of rules 2018</h4>
                <span class="label label-danger">Technology</span>
                <p class="p-t-20">I am a very simple card. I am good at containing small bits of information. I am convenient because I require
                    little markup to use effectively.</p>
            </div>
        </div>
    </div>
    <!-- Column -->
    <div class="col-sm-12 col-lg-8">
        <app-profile-activity></app-profile-activity>
    </div>
</div>