<div class="card">
    <div class="card-body border-bottom">
        <h4 class="card-title">Order Stats</h4>
        <h5 class="card-subtitle">Overview of orders</h5>
        <div class="status m-t-30"></div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-4">
                <i class="fa fa-circle text-primary"></i>
                <h3 class="m-b-0 font-medium">5489</h3>
                <span>Success</span>
            </div>
            <div class="col-4">
                <i class="fa fa-circle text-info"></i>
                <h3 class="m-b-0 font-medium">954</h3>
                <span>Pending</span>
            </div>
            <div class="col-4">
                <i class="fa fa-circle text-orange"></i>
                <h3 class="m-b-0 font-medium">736</h3>
                <span>Failed</span>
            </div>
        </div>
    </div>
</div>