<div class="card">
    <div class="card-body">
        <h4 class="card-title">Top Referrals</h4>
        <h5 class="card-subtitle">Email Campaigns</h5>
        <table class="table v-middle">
            <thead>
                <tr>
                    <th class="border-top-0">Source</th>
                    <th class="text-center border-top-0">Users</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="font-bold">
                        themedesigner.in
                    </td>
                    <td class="text-center">14</td>
                </tr>
                <tr>
                    <td class="font-bold">
                        wrappixel.com
                    </td>
                    <td class="text-center">09</td>
                </tr>
                <tr>
                    <td class="font-bold">
                        themeforest.net
                    </td>
                    <td class="text-center">07</td>
                </tr>
                <tr>
                    <td class="font-bold">
                        wrapbootstrap.com
                    </td>
                    <td class="text-center">04</td>
                </tr>
                <tr>
                    <td class="font-bold">
                        creativemarket.com
                    </td>
                    <td class="text-center">03</td>
                </tr>
                <tr>
                    <td class="font-bold">
                        templatemonster.com
                    </td>
                    <td class="text-center">03</td>
                </tr>
                <tr>
                    <td class="font-bold">
                        themequerry.com
                    </td>
                    <td class="text-center">01</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>