<!-- ============================================================== -->
<!-- MELHORES DANIEL -->
<!-- ============================================================== -->
<app-crypto></app-crypto>
<!-- ============================================================== -->
<!-- Product Sales -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-sm-12">
        <app-ecom-sales></app-ecom-sales>
    </div>
</div>
<!-- ============================================================== -->
<!-- Earnings, Sale Locations -->
<!-- ============================================================== -->
<div class="row">
    <!-- column -->
    <div class="col-sm-12 col-md-5 col-lg-3">
        <app-earnings></app-earnings>
    </div>
    <!-- column -->
    <div class="col-sm-12 col-md-7 col-lg-9">
        <app-sale-location></app-sale-location>
    </div>
</div>
<!-- ============================================================== -->
<!-- Locations -->
<!-- ============================================================== -->
<app-top-locations></app-top-locations>
<!-- ============================================================== -->
<!-- Email campaign chart -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-lg-8 col-xl-6">
        <app-email></app-email>
    </div>
    <div class="col-lg-4 col-xl-6">
        <app-visitor></app-visitor>
    </div>
</div>
<!-- ============================================================== -->
<!-- Sales chart -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-12">
        <app-sales></app-sales>
    </div>
</div>
<!-- ============================================================== -->
<!-- Notifications, Chart -->
<!-- ============================================================== -->
<div class="row">
    <!-- column -->
    <div class="col-sm-12">
        <app-cam-stats></app-cam-stats>
    </div>
</div>