<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <form action="#">
            <div class="form-body">
                <div class="row">
                    <div class="col-md-1">
                        <div class="form-group">
                          <button type="button" class="btn btn-info">Incluir</button>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                          <button type="button" class="btn btn-success">Filtrar</button>
                        </div>
                    </div>
                    <div class="col-md-4 ml-auto">
                        <div class="form-group">
                            <input type='text' class="form-control" placeholder='Pesquisar' (keyup)='updateFilter($event)' />
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <ngx-datatable #table class='material' [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
          [rowHeight]="'force'" [limit]="10" [rows]='rows'>
        </ngx-datatable>
      </div>
    </div>
  </div>
</div>