<div class="card e-campaign">
    <div class="card-body">
        <h4 class="card-title">Email Campaign</h4>
        <div class="row m-t-40">
            <div class="col-sm-12 col-md-6 text-center">
                <div class="css-bar css-bar-75 css-bar-xlg css-bar-primary">
                    <div class="data-text">
                        <h1 class="success-rate text-info font-light">75
                            <span class="icon">%</span>
                        </h1>
                        <div class="rate-label font-15">Success Rate</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="w-75 c-cost">
                    <div class="d-inline-block align-middle">
                        <i class="mdi mdi-wallet text-info"></i>
                    </div>
                    <div class="d-inline-block align-middle m-l-10">
                        <span class="text-muted font-14">Campaign Cost</span>
                        <h2 class="text-info font-bold m-b-0">$435.68</h2>
                    </div>
                </div>
                <ul class="list-style-none stats m-t-30">
                    <li class="m-t-10">
                        <i class="fa fa-circle m-r-5 text-success font-12"></i> 25% Ads broke the target </li>
                    <li class="m-t-10">
                        <i class="fa fa-circle m-r-5 text-info font-12"></i> 75% Ads are Successfull </li>
                </ul>
            </div>
        </div>
    </div>
</div>