<div class="card">
    <div class="card-body text-center">
        <div class="profile-pic m-b-20 m-t-20">
            <img src="assets/images/users/5.jpg" width="150" class="rounded-circle" alt="user" />
            <h4 class="m-t-20 m-b-0">Daniel Kristeen</h4>
            <a href="mailto:danielkristeen@gmail.com">danielkristeen@gmail.com</a>
        </div>
        <div class="badge badge-pill badge-light font-16">Dashboard</div>
        <div class="badge badge-pill badge-light font-16">UI</div>
        <div class="badge badge-pill badge-light font-16">UX</div>
        <div class="badge badge-pill badge-info font-16" data-toggle="tooltip" data-placement="top" title="3 more">+3</div>
    </div>
    <div class="p-25 border-top m-t-15">
        <div class="row text-center">
            <div class="col-6 border-right">
                <a href="#" class="link d-flex align-items-center justify-content-center font-medium">
                    <i class="mdi mdi-message font-20 m-r-5"></i>Message</a>
            </div>
            <div class="col-6">
                <a href="#" class="link d-flex align-items-center justify-content-center font-medium">
                    <i class="mdi mdi-developer-board font-20 m-r-5"></i>Portfolio</a>
            </div>
        </div>
    </div>
</div>