<div class="card poll-widget">
    <div class="card-body">
        <h4 class="card-title">Poll of the week</h4>
        <h5 class="card-subtitle">Here is the latest poll</h5>
        <p class="font-bold text-muted">What is your mobile app usage daily?</p>
        <ul class="list-style-none m-t-20">
            <li>
                <div class="custom-control custom-radio">
                    <input type="radio" id="a" name="customRadio" class="custom-control-input">
                    <label class="custom-control-label" for="a">
                        <b class="m-r-5">A</b> 30 Minutes</label>
                </div>
            </li>
            <li class="m-t-20">
                <div class="custom-control custom-radio">
                    <input type="radio" id="b" name="customRadio" class="custom-control-input" checked>
                    <label class="custom-control-label text-info" for="b">
                        <b class="m-r-5">B</b> More than 30 minutes</label>
                </div>
            </li>
            <li class="m-t-20">
                <div class="custom-control custom-radio">
                    <input type="radio" id="c" name="customRadio" class="custom-control-input">
                    <label class="custom-control-label" for="c">
                        <b class="m-r-5">C</b> 1 Hour</label>
                </div>
            </li>
            <li class="m-t-20">
                <div class="custom-control custom-radio">
                    <input type="radio" id="d" name="customRadio" class="custom-control-input">
                    <label class="custom-control-label" for="d">
                        <b class="m-r-5">D</b> More than 1 hour</label>
                </div>
            </li>
        </ul>
        <button class="btn btn-success m-t-15">Submit Answer</button>
    </div>
</div>