<div class="card">
    <div class="card-body">
        <h4 class="card-title">Currency Exchange</h4>
        <h5 class="card-subtitle">exchange currency from here</h5>
    </div>
    <div class="card-body bg-light text-center">
        <form>
            <div class="row no-gutters">
                <div class="col-8">
                    <input class="form-control form-control-lg" type="text" value="1.02458">
                </div>
                <div class="col-4">
                    <select class="custom-select custom-select-lg">
                        <option value="1">BTC</option>
                        <option value="2">ETH</option>
                        <option value="3">DASH</option>
                        <option value="4">LTC</option>
                        <option value="5">NEO</option>
                        <option value="6">XRP</option>
                        <option value="7">EOS</option>
                        <option value="8">NEM</option>
                        <option value="9">ADA</option>
                    </select>
                </div>
            </div>
            <div class="round align-self-center round-danger m-t-10 m-b-10">
                <i class="ti-exchange-vertical"></i>
            </div>
            <div class="row no-gutters">
                <div class="col-8">
                    <input class="form-control form-control-lg" type="text" value="9526.39">
                </div>
                <div class="col-4">
                    <select class="custom-select custom-select-lg">
                        <option value="1">USD</option>
                        <option value="2">EUR</option>
                        <option value="3">INR</option>
                        <option value="4">AUD</option>
                        <option value="5">GBP</option>
                        <option value="6">CAD</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <div class="card-body text-center">
        <button type="button" class="btn waves-effect waves-light btn-info">Exchange Now</button>
    </div>
</div>