<!-- ============================================================== -->
<!-- Earnings -->
<!-- ============================================================== -->
<app-stats></app-stats>
<!-- ============================================================== -->
<!-- Product Sales -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-sm-12">
        <app-ecom-sales></app-ecom-sales>
    </div>
</div>
<!-- ============================================================== -->
<!-- Orders -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-sm-12 col-lg-8">
        <app-ecom-product></app-ecom-product>
    </div>
    <div class="col-sm-12 col-lg-4">
        <app-ecom-order></app-ecom-order>
    </div>
</div>
<!-- ============================================================== -->
<!-- Review -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-sm-12">
        <app-ecom-review></app-ecom-review>
    </div>
</div>